.search {
	cursor: pointer;
    top: 642px;
    left: 918px;
    width: 85px;
    height: 35px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #ff9f21;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 28px;
    outline: none;
    margin-left: 12px;
}